@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Unbounded:400,700&subset=vietnamese);
@import url(https://fonts.googleapis.com/css?family=Manrope:500,700);

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-greyish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --white: hsl(0, 0%, 100%);
    --light-greyish-blue: hsl(223, 64%, 98%);
    --black: hsla(0, 0%, 0%, 0.75);
}

* {
    /* font-family: 'Kumbh Sans', sans-serif; */
    /* font-family: 'Unbounded', sans-serif; */
    font-family: 'Manrope', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

section {
    padding: 2rem 9%;
}

::-webkit-scrollbar {
    width: 1rem;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: var(--orange);
    border-radius: 20px;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--orange);
    padding: 1.4rem 6rem;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: none;
}


.header {
    padding: 3rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: .5px solid var(--grayish-blue);
}

.header .logo {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--black);
    text-transform: none;
    margin-left: 5rem;
}

#menubar {
    display: none;
    font-size: 2rem;
    color: var(--dark-greyish-blue);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    background: var(--black);
    cursor: pointer;
}

.header .navbar a {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--dark-greyish-blue);
    padding: 6rem;
    cursor: pointer;
}

.header .navbar a:hover {
    border-bottom: 4px solid var(--orange);
    padding-bottom: 28px;
}

.header .navbar a>svg {
    color: var(--dark-greyish-blue);
    cursor: pointer;
}

.header .navbar img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.main .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    width: 90%;
    margin-top: 15rem;
}

.main .box-container .image {
    flex: 1 1 45rem;
}

.main .box-container .image .first_img img {
    width: 62%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 10rem;
}

.main .box-container .image .multi-display {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

.main .box-container .image .multi-display img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.main .box-container .image .multi-display img:hover {
    opacity: .6;
    border: 3px solid var(--orange);
}
.main .box-container .content {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main .box-container .content .heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--orange);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.main .box-container .content h1  {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 3rem;
}

.main .box-container .content p  {
    font-size: 1.5rem;
    color: var(--dark-greyish-blue);
    margin-bottom: 2rem;
    line-height: 3rem;
    text-transform: none;
}

.main .box-container .content p::first-letter  {
    text-transform: capitalize;
}

.main .box-container .content .price {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
}

.main .box-container .content .discount {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--orange);
    background-color: var(--pale-orange);
    padding: .5rem 1rem;
    margin-bottom: -4rem;
}
.main .box-container .content .original-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grayish-blue);
    text-decoration: line-through;
}

.main .box-container .content .button button {
    margin-right: 5px;
}

.main .box-container .content .button #order-btn {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    background-color: var(--light-greyish-blue);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}


.main .box-container .content .button #order-btn i {
    font-size: 2rem;
    color: var(--orange);
    margin-right: 2rem;
    margin-left: 2rem;
}


































/* media queries  */
@media (max-width: 1540px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    .header {
        padding: 3rem;
    }

    .header .navbar a {
        margin-left: 3rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 1178px) {
    html {
        font-size: 50%;
    }

}

@media (max-width: 1085) {
    .btn {
        font-size: 1rem;
        padding: 1.4rem 3rem;
        border-radius: 1rem;
        cursor: pointer;
        text-transform: none;
    }

    .main .box-container .content .button {
        margin-right: 5px;
        font-size: 60rem;
        display: block;
    }

    .main .box-container .content .button .btn {
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    .main .box-container .content .button .btn {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--black);
        background-color: var(--light-greyish-blue);
        padding: .5rem 1rem;
    }
}    

@media (max-width: 991px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 2%;
        /* right: 2rem; */
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        /* width: 30rem; */
        /* height: calc(100vh  - 15.5rem); */
        /* background: var(--black); */
        border: var(--border);
        /* transform: scale(0); */
        /* opacity: 0; */
        /* transform-origin: top right; */
        /* transition: none; */
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
        color: var(--black);
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }
}